#products {
    display: grid;
  
    grid-template-columns: auto auto auto;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    margin: 50px 10%;
    text-align: center;
}

img {
    width: 200px;
}